body 
{
	background-color: #2a2a2f;
	color: #d6cfc4;
	padding-top: 0;
}

h1, h2, h3, h4, h5, h6
{
	color: #fff;
}

#section1
{
	background-image: url(../images/mobile/bg1.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	height: 100vh;
}

#top 
{
	box-shadow: 0 5px 20px rgba(0,0,0, .3);
	background-color: #3c3c41;
	background-image: url(../images/mobile/bg1-blur.jpg?v1.1);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

#section1 h1
{
	font-size: 24px;
	/*margin-bottom: 28px;*/
	margin-bottom: 13px;
}

#section1 h2
{
	font-style: italic;
	font-weight: 400;	
	margin-bottom: 28px;
}

#section1 p
{
	margin-bottom: 16%;
}

.section
{
	padding: 0 30px;
}

.section .flex
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: inherit;
}

.section .flex .xs-flex-end
{
	align-self: flex-end;	
}

#contact 
{
	padding-top: 120px;
	padding-bottom: 150px;
}

#contact h3
{
	font-size: 44px;
	color: #d6cfc4;
	margin-bottom: 20px;
	position: relative;
}

#contact h3:after
{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background-color: #2a2a2f;
	display: block;
	height: 22px;
	opacity: .59;
}

#contact .btn 
{
	width: 100%;
}

/*phone-only*/
@media (max-width: 599px) {
	.section
	{
		text-align: center;
	}
}

/*phone-upper-boundary*/
@media (min-width: 600px) {
	#section1
	{
		background-image: url(../images/mobile/bg2.jpg);
		padding-top: 4%;
	}

	#top 
	{
		background-image: url(../images/mobile/bg2-blur.jpg);
	}

	.section .flex .sm-flex-center
	{
		align-self: center;	
		width: 50%;
	}

	.section .flex
	{
		justify-content: flex-end;	
	}

	#section1 p
	{
		margin-bottom: 0;
	}


/*	#section1 h1
	{
		margin-bottom: 18px;
	}*/

	#contact
	{
		padding-top: 60px;
		padding-bottom: 90px;
	}

	.checkbox
	{
		margin-top: 11px;
	}

	.checkbox .checkmark
	{
		top: -6px;
	}

	#contact
	{	
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
}
  
/*tablet-portrait-upper-boundary*/
@media (min-width: 900px) {
	#section1
	{
		background-image: url(../images/mobile/bg3.jpg);
		padding-top: 1%;
	}

	#top 
	{
		background-image: url(../images/mobile/bg3-blur.jpg);
	}

	.section .flex
	{
		justify-content: flex-start;	
	}

	.section .flex .sm-flex-center
	{
		width: 35%;
	}
}
  
/*tablet-landscape-upper-boundary*/
@media (min-width: 1200px) {

	

	.section .flex .sm-flex-center
	{
		width: 29%;
	}

	.navbar-toggle
	{
		top: 34px;
		left: 270px;
	}

	.container
	{
		max-width: 800px;
	}

	#contact
	{
		text-align: left;
		padding-top: 140px;
    	padding-bottom: 220px;
	}

	#contact h3
	{
		font-size: 64px;
		margin: 0 0 -14px; 
	}

	#contact h3:after
	{
		height: 32px;
	}

	#form-message
	{
		margin-bottom: 10px;
	}

	#contact .btn
	{
		width: auto;
	}

	#section1 .visible-lg
	{
		margin-top: 30px;
	}

	#section1 p .btn
	{
		margin-left: 13px;
	}

	#section1 h1
	{
		margin-bottom: 26px;
	}

	#section1 h2
	{
		margin-bottom: 30px;
	}



}
  
/*desktop-upper-boundary*/
@media (min-width: 1800px) { }