@keyframes progress1 {
	0% {
		width: 0%;
	}
	99% {
		width: 100%;
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes progressBefore {
	0% {
		bottom: 50%;
	}
	99% {
		bottom: 100%;
		display: block;
	}
	100% {
		bottom: 100%;
		display: none;
	}
}

@keyframes progressAfter {
	0% {
		top: 50%;
	}
	99% {
		top: 100%;
		display: block;
	}
	100% {
		top: 100%;
		display: none;
	}
}

@keyframes onLoad {
	0% {
		display: block;
		top: 0;
	}
	100% {
		display: none;
		top:  100%;
		z-index: -999;
	}
}

@keyframes onLoadOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

h1, h2, h3, h4, h5, .title
{
	color: #252529;
}

#skils .thumbnail
{
	max-width: 380px;
	box-shadow: 0 10px 20px rgba(0,0,0, .07);
	background-color: #fff;
	margin: -78px 25px 30px;
	padding: 50px 20px 20px;
}

#skils .thumbnail:nth-child(2)
{
	margin-top: 0;
}

#skils .thumbnail h2,
#last-projects h3
{
	font-size: 30px;
}

#last-projects h3
{
	margin: 0 0 25px;
}

#skils .thumbnail h4
{
	font-size: 19px;
	margin-bottom: 20px;
}

#skils .thumbnail p,
#skils .thumbnail ul
{
	margin-bottom: 28px;
}

#skils .thumbnail .img-responsive
{
	margin: 25px 0 25px;
}

/* #section1 .img-skills
{

} */

#about-me h3
{
	font-size: 30px;
	margin-bottom: 35px;
}

#skils
{
	background-color: #f5f3f1;
	padding-bottom: 20px;
}

#about-me
{
	background-color: #e5e2dd;
	margin-top: -135px;
	padding: 170px 0 100px;
}

#skils .flex,
#last-projects .flex
{
	justify-content: center;
	align-items: center;
}

#last-projects
{
	padding-top: 55px;
}

#last-projects .flex
{
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 20px;
}

#last-projects .thumbnail
{
	margin: 0 15px 25px;
	position: relative;
	overflow: hidden;
}

#last-projects .caption
{
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #252529cf;
    display: flex;
    justify-content: center;
    align-items: center;
	color: #fff;
	flex-direction: column;
	opacity: 0;
	transition: opacity 0.2s ease;
}

#last-projects p
{
	margin-bottom: 25px;
}

#last-projects .caption h4
{
	font-weight: 600;
	margin-bottom: 25px;
    font-size: 16px;
	position: relative;
	top: -5px;
	transition: all 0.2s ease;
}

#last-projects .caption .btn
{
	top: 5px;
}

#last-projects .caption h4,
#last-projects .caption .btn
{
	color: inherit;
	opacity: 0;
}

#last-projects .thumbnail:hover .caption
{
	opacity: 1;
}

#last-projects .thumbnail:hover .caption h4,
#last-projects .thumbnail:hover .caption .btn
{
	top: 0;
	opacity: 1;
}

#last-projects .thumbnail:hover picture img,
#last-projects .thumbnail:hover > img
{
	filter: blur(2px);
    -webkit-filter: blur(2px);
}

b
{
	font-weight: 600;
}

.nowrap,
.title .nowrap
{
	white-space: nowrap;
	color: inherit;
}

#animationLoad
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
	animation: onLoad 0.1s linear;
	animation-delay: 1.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#animationLoad:before,
#animationLoad:after
{
	content: '';
	display: block;
	position: absolute;
	background-color: #252529;
    left: 0;
    right: 0;
}

#animationLoad:before
{
    top: 0;
    bottom: 50%;
	animation: progressBefore 0.3s infinite;
	animation-delay: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#animationLoad:after
{
	top: 50%;
    bottom: 0;
	animation: progressAfter 0.3s infinite;
	animation-delay: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#animationLoad span
{
	position: fixed;
	top: 50%;
	margin-top: -2px;
	display: block;
	height: 3px;
	background: rgb(245,207,108);
	background: linear-gradient(90deg, rgba(245,207,108,1) 0%, rgba(134,93,30,1) 100%);
	width: 0;
	animation: progress1 1s infinite;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#logo,
#menuToogleButton,
#topContactButton
{
	opacity: 0;
	animation: onLoadOpacity .5s infinite;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-delay: 1.5s;
}


@media (min-width: 600px) {
	#skils .thumbnail:nth-child(2)
	{
		margin-top: -78px;
	}

	#skils .flex, #last-projects .flex
	{
		align-items: stretch;
	}
}

@media (min-width: 900px) {
	#about-me
	{
		padding: 170px 0 150px;
	}

	#skils .thumbnail
	{
		margin-bottom: 0;
		margin-left: 15px;
		margin-right: 15px;
	}

	#skils .thumbnail:nth-child(2)
	{
		margin-top: -78px;
	}

	#skils
	{
		padding-bottom: 65px;
	}

	#last-projects
	{
		padding-top: 85px;
	}

	#last-projects .thumbnail
	{
		margin-bottom: 0;
	}

	#last-projects .flex
	{
		margin-bottom: 60px;
	}

	#last-projects p
	{
		margin-bottom: 40px;
	}
}
