#projects {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(235, 236, 240, 1) 100%
    );
    padding-top: 50px;
    /* overflow: hidden; */
}

#projects .project-list {
    margin: 20px 0 70px;
    padding: 0;
    list-style: none;
}

#projects .project-item {
    border-bottom: 1px solid var(--dark);
    padding: 30px 0;
    position: relative;
    transition: padding 0.4s ease;
}

#projects .project-item:last-child {
    border-bottom: none;
}

#projects .project-item .info {
    margin: 0;
}

#projects .project-item .name {
    font-size: 34px;
    color: var(--dark);
    font-weight: 200;
    margin: 0;
    position: relative;
    white-space: nowrap;
}

#projects .project-item .scope {
    font-size: 25px;
    font-weight: 200;
    flex-grow: 1;
    margin: 6px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#projects .project-item .btn-transparent {
    color: var(--dark);
    white-space: nowrap;
}

#projects .project-item .btn-transparent:hover {
    color: #fff;
}

#projects .list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#projects .list li {
    margin-bottom: 5px;
    white-space: nowrap;
}

#projects .title-smaller {
    margin-bottom: 15px;
}

#projects .tags {
    gap: 10px;
    flex-wrap: wrap;
}

#projects .tags li {
    pointer-events: none;
    margin: 0;
}

#projects .tags li:before {
    content: "#";
    font-size: 0.85rem;
    margin-right: 1px;
}

#projects .columns {
    gap: 30px 20%;
    margin-top: 30px;
    flex-wrap: wrap;
    flex-grow: 1;
}

#projects .columns > div:nth-child(3) {
    flex-grow: 1;
}

#projects .head {
    gap: 5%;
}

.project-image {
    border-radius: 10px;
    box-shadow: 0 5px 44px rgb(0 0 0 / 15%);
    position: absolute;
    margin-left: 25px;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease;
    margin-top: 20px;
    display: flex;
    background-color: #fff;
    opacity: 0;
    animation: forwards 0.4s fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
        margin-top: 20px;
    }
    to {
        opacity: 1;
        margin-top: 10px;
    }
}

.project-image img {
    border-radius: inherit;
}

.project-image:after {
    content: "";
    display: block;
    position: absolute;
    top: 29px;
    left: -10px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 9.5px 10px 9.5px 0;
    border-color: transparent #fff transparent transparent;
    transform: rotate(0deg);
}

.project-image.oute:after {
    border-color: transparent #f3f3f3 transparent transparent;
}

.project-item .project-image .loader {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-item .project-image .loader:before {
    content: "";
    display: block;
    width: 48px;
    height: 48px;
    border: 2px solid var(--dark);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#projects .btn-round {
    border-radius: 100px;
    padding: 12px;
    position: absolute;
    left: -50px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}

#projects .btn-round:hover:before,
#projects .btn-round:hover:after {
    top: -12%;
    width: 120%;
}

@media (min-width: 768px) {
    #projects .project-item {
        padding: 25px 0;
    }

    #projects .project-list {
        margin-top: 40px;
    }

    #projects .columns {
        flex-wrap: nowrap;
        column-gap: 10%;
    }

    #projects .project-item .flex-sm {
        align-items: center;
        gap: 25px;
    }

    #projects .project-item .scope {
        margin: 0;
    }

    #projects .project-item:hover {
        padding-left: 50px;
    }

    #projects .project-item:hover .btn-round {
        left: 0;
        opacity: 1;
        visibility: visible;
    }
}

@media (min-width: 1200px) {
    #projects .columns {
        column-gap: 90px;
    }
}
