#projects {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(235, 236, 240, 1) 100%
    );
    padding-top: 50px;
    overflow: hidden;
}

#projects .project-list {
    margin: 40px 0 70px;
    padding: 0;
    list-style: none;
}

#projects .project-item {
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid var(--dark);
    padding: 20px 0;
}

#projects .project-item:last-child {
    border-bottom: none;
}

#projects .project-item .info {
    margin: 0;
}

#projects .project-item .name {
    font-size: 34px;
    color: var(--dark);
    font-weight: 200;
}

#projects .project-item .scope {
    font-size: 25px;
    font-weight: 200;
    flex-grow: 1;
}

#projects .project-item .btn-transparent {
    color: var(--dark);
    white-space: nowrap;
}

#projects .project-item .btn-transparent:is(:hover, :focus) {
    color: #fff;
}

#projects .list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#projects .list li {
    margin-bottom: 5px;
    white-space: nowrap;
}

#projects .title-smaller {
    margin-bottom: 15px;
}

#projects .tags {
    gap: 10px;
}

#projects .tags li {
    pointer-events: none;
    margin: 0;
}

#projects .tags li:before {
    content: "#";
    font-size: 0.85rem;
    margin-right: 1px;
}

#projects .columns {
    gap: 20%;
    margin-top: 30px;
}

#projects .head {
    gap: 5%;
}
