:root {
    --text: #525359;
    --dark: #161924;
}

::selection {
    background-color: #ffc077;
    color: #000000;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 87.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text);
    background-color: #fff;
    font-size: 1rem;
    letter-spacing: -0.01em;
    line-height: 1.1;
}

.cursorCanvas {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 999;
    mix-blend-mode: difference;
}

.container {
    padding: 0 7%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    color: inherit;
}

a,
button {
    transition: all 0.2s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 500;
}

p {
    margin: 0 0 20px;
}

.flex {
    display: flex;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: inherit;
    font-size: 1rem;
    line-height: 1.6;
    font-family: inherit;
}

.title {
    color: #fff;
    font-size: 34px;
    font-size: clamp(3.6rem, 7vw, 110px);
    line-height: 90%;
    margin: 0 0 10px;
}

.subtitle {
    font-weight: 200;
    line-height: 93%;
    /* font-size: 25px; */
    font-size: clamp(2rem, 4.2vw, 43px);
    margin: 0;
}

.title-small {
    /* font-size: 80px; */
    font-size: clamp(2rem, 10vw, 80px);
    margin: 0 0 10px;
    line-height: 120%;
    color: var(--dark);
}

.title-smaller {
    font-weight: 600;
    font-size: 1rem;
    color: var(--dark);
    text-transform: uppercase;
    letter-spacing: 0.24em;
    margin: 0;
}

.nowrap {
    white-space: nowrap;
}

.btn {
    /* display: inline-block; */
    display: flex;
    align-items: center;
    padding: 13px 22px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn:disabled {
    /* pointer-events: none; */
    opacity: 0.5;
    cursor: not-allowed;
}

.btn svg {
    margin-right: 7px;
}

.btn-default {
    color: #fff;
    background: rgb(68, 56, 242);
    background: linear-gradient(
        137deg,
        rgba(68, 56, 242, 1) 0%,
        rgba(131, 66, 253, 1) 50%,
        rgba(58, 17, 135, 1) 100%
    );
    background-position: 0;
    background-size: 200%;
}

.btn-default:not(:disabled):is(:hover, :focus, :active) {
    background-color: #454b5a;
    background-position: 100%;
    color: #fff;
}

.btn-white {
    background-color: #fff;
    color: #161924;
    font-weight: 500;
    border-radius: 10px;
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid var(--dark);
}

.btn-white:is(:hover, :focus, :active) {
    background-color: #161924;
    color: #fff;
}

.btn-bubble-bottom {
    position: relative;
    overflow: hidden;
}

.btn-bubble-bottom > span {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    position: relative;
    z-index: 1;
    gap: inherit;
}

.btn-bubble-bottom:is(:hover) {
    color: #fff;
}

.btn-bubble-bottom:before,
.btn-bubble-bottom:after {
    content: "";
    display: block;
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--dark);
    border-radius: 100%;
    position: absolute;
    z-index: 0;
    top: 100%;
    left: -30%;
    transition: all 0.4s ease-out;
}

.btn-bubble-bottom:after {
    width: 80%;
    left: 40%;
    transition: all 0.5s ease-out;
    transition-delay: 0.08s;
}

.btn-bubble-bottom:hover:before,
.btn-bubble-bottom:hover:after {
    top: -70%;
}

.btn-yellow {
    background-color: #f19529;
    color: #fff;
}

.btn-yellow:is(:hover) {
    background-color: #fff;
    color: var(--dark);
}

.link-border {
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 10px 20px;
    isolation: isolate;
}

.link-border:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #551fa5;
    bottom: 14px;
    height: 4px;
    left: 20px;
    width: calc(100% - 40px);
    transition: all 0.2s ease;
    margin: 0;
    z-index: -1;
}

.link-border:is(:hover):before {
    background-color: #f19529;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    left: 50%;
    margin-left: -20px;
    bottom: 2px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.grid {
    display: grid;
}

.relative {
    position: relative;
}

.horizontal-center {
    justify-content: center;
}

.vertical-center {
    align-items: center;
}

.vertical-top {
    align-items: flex-start;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.wide-width {
    width: 100%;
}

.bg-white {
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 1;
    box-shadow: 0 -5px 10px rgba(0 0 0 / 15%);
    /* overflow: hidden;  not overflow!*/
}

.overflow {
    overflow: hidden;
}

.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 20px;
}

.modal {
    position: fixed;
    inset: 10%;
}

@media (min-width: 768px) {
    .container {
        padding: 0 3%;
    }

    .flex-sm {
        display: flex;
    }

    .hidden-sm {
        display: none !important;
    }

    .visible-xs {
        display: none !important;
    }

    .title {
        transform: translateX(200px);
        opacity: 0;
        animation: slideIn 0.9s forwards cubic-bezier(0.075, 0.82, 0.165, 1)
            0.2s;
    }

    .subtitle {
        line-height: 95%;
        font-size: clamp(2rem, 3.2vw, 43px);
        font-weight: 100;
        transform: translateX(200px);
        opacity: 0;
        animation: slideIn 0.9s forwards cubic-bezier(0.075, 0.82, 0.165, 1)
            0.4s;
    }

    @keyframes slideIn {
        from {
            transform: translateX(200px);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

@media (min-width: 991px) {
    .flex-md {
        display: flex;
    }
}

@media (max-width: 768px) {
    .hidden-xs {
        display: none !important;
    }
}
