.blog-layout {
    background-color: var(--dark);
}

.blog-layout .bg-white {
    margin-top: 30px;
    padding-top: 40px;
}

.blog-header {
    position: sticky;
    top: 0;
}

.posts-list {
    --grid_column: 1;
    display: grid;
    grid-template-columns: repeat(var(--grid_column), 1fr);
    gap: 10px 30px;
    grid-auto-flow: dense;
    margin-bottom: 50px;
}

.blog-post,
.empty-list {
    margin-bottom: 80px;
}

.posts-list .post {
    border-top: 1px solid #b7b7b7;
    padding: 30px 0;
}

.posts-list .name {
    margin: 0 0 11px;
    color: var(--dark);
    font-weight: 500;
}

.posts-list .name a {
    text-decoration: none;
}

.posts-list .description {
    margin: 0 0 12px;
}

.blog-layout .data {
    font-style: italic;
    display: block;
}

.posts-list .data {
    margin-bottom: 18px;
}

.posts-list .tags {
    margin-bottom: 10px;
}

.blog-layout .tags .title-smaller {
    font-size: 0.83rem;
    color: #71768b;
    padding: 0;
    position: relative;
    text-decoration: none;
    display: block;
}

.blog-layout .list-tags .title-smaller:hover {
    color: #8342fd;
    animation: upBounce 0.2s ease forwards;
    will-change: transform, color;
}

@keyframes upBounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1px);
    }
    100% {
        transform: translateY(0);
    }
}

.blog-layout .tags {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
}

.blog-layout .list-tags {
    margin: 40px 0;
}

.tags .active:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 2px;
    height: 3px;
    background-color: #8342fd;
    border-radius: 3px;
}

.blog-layout .title-small {
    line-height: 0.85;
    font-size: clamp(2rem, 10vw, 50px);
}

.blog-post .tags {
    margin-bottom: 10px;
}

.blog-post .title-small {
    margin-bottom: 15px;
}

.blog-post h1,
.blog-post h2,
.blog-post h3,
.blog-post h4,
.blog-post h5,
.blog-post h6 {
    color: var(--dark);
    line-height: 1.2;
}

.blog-post header {
    border-bottom: 1px solid #b7b7b7;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.code-language {
    border-radius: 7px 7px 0 0;
    background-color: var(--dark);
    color: #8e91a0;
    padding: 5px 15px;
}

.prism-code {
    padding: 12px 15px;
    border-radius: 0 0 7px 7px;
    margin-top: 0;
}

.empty-list {
    margin-top: 60px;
}

@media screen and (min-width: 768px) {
    .posts-list {
        --grid_column: 2;
    }

    /* .posts-list .post :hover {
        cursor: pointer;
    } */
}
