@keyframes showModal {
    0% {
        top: 100%;
        width: 50px;
        height: 5px;
    }
    50% {
        top: 50%;
        width: 50px;
        height: 5px;
    }
    100% {
        /* width: 97%; */
        height: 100px;
        width: 100px;
    }
}

@keyframes showModalFull {
    0% {
        width: 100px;
        height: 100px;
    }
    50% {
        width: 97%;
        height: 100px;
    }
    100% {
        height: 97dvh;
    }
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}

.shadow
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1a1d24;
    opacity: .9;
    transition: opacity .2s ease;
}

.modal 
{
    position: fixed;
    background: #fff;
    height: 100px;
    width: 100px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    border-radius: 20px;
    animation-name: showModal;
    animation-duration: 1s;
    color: #252932;
    overflow: hidden;
    max-width: 1010px;
}

.modal ul 
{
    padding: 0;
    margin: 0;
}

.modal h1, .modal h2, .modal h3
{
    color: inherit;
}

.modal:before 
{
    opacity: 0;
    content: '';
    display: block;
    border: 4px solid #ddd;
    border-radius: 50%;
    border-top: 4px solid #1e222a;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    transition: opacity .7s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -19px;
    margin-top: -19px;
}

.modal.loading:before 
{
    opacity: 1;
}

.modal.show 
{
    width: 97%;
    height: 97dvh;
    animation-name: showModalFull;   
    animation-duration: 1s;
}

.modal.detach
{
    transition: height .2s ease;
    height: 0;
}

.modal .content 
{
    padding: 3% 5%;
    max-height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
    counter-reset: section;
}

.modal .content strong 
{
    color: inherit;
}

.modal .content::-webkit-scrollbar 
{
    display: none;
}

.modal .content a:is(:hover, :focus, :active),
.modal .content .text-muted
{
    opacity: .5;    
}

.modal .content .flex
{
    align-items: flex-start;
    gap: 0 30px;
}

.modal .content section
{
    padding-bottom: 40px;
}

.modal .content h2
{
    margin: 0px 0 13px;
    font-size: 40px;
    font-weight: 300;    
}

.modal .content h2 small 
{
    font-size: .5em;
}

.modal .content h2 + section
{
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}

.modal .content h2 + section ul 
{
    border-right: 1px solid #ddd;
    padding-right: 30px;
    list-style: none;
}

.modal .content h2 + section li
{
    white-space: nowrap;    
}

.modal .content h3
{
    font-size: 20px;
    margin: 0 0 15px;
}

.modal .content h3:before {
    counter-increment: section;
    content: counter(section) ". ";
}

.modal .content table td 
{
    vertical-align: top;
}

.modal .content table td:nth-child(1)
{
    padding-right: 15px;   
    white-space: nowrap;
}

.modal .content table,
.modal .content section > div:not(.col-sm-50)
{
    margin-left: 20px;
}

.modal .works ul
{
    margin-left: 16px;    
}

.modal .works + .works
{
    margin-top: 25px;
}

.close 
{
    width: 31px;
    height: 31px;
    padding: 0;
    border: 1px solid #1a1d24;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 8px;
    cursor: pointer;
}

.close:before,
.close:after
{
    content: '';
    display: block;
    height: 1px;
    width: 16px;
    background-color: #1a1d24;
    position: absolute;
    top: 14px;
    left: 7px;
    transition: all .2s ease;
    transform: rotate(45deg);
}

.close:after 
{
    transform: rotate(-45deg);
}

.close:is(:hover, :focus, :active)
{
    background-color: #1e222a;
}

.close:is(:hover, :focus, :active):before,
.close:is(:hover, :focus, :active):after 
{
    background-color: #fff;
}