.scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -60px;
    color: #fff;
    opacity: 0;
    animation: showScroll 0.3s forwards ease-in 1s;
}

@keyframes showScroll {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.scroll a {
    text-decoration: none;
    border: 1px solid #fff;
    padding: 11px 18px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    cursor: pointer;
    overflow: hidden;
}

.scroll svg {
    transform: translateY(0);
    animation: slideArrow 3s infinite ease;
}

.scroll a:hover {
    color: var(--dark);
}

.scroll a:before,
.scroll a:after {
    background-color: #fff;
}

@keyframes slideArrow {
    0% {
        transform: translateY(0);
    }
    14.99% {
        transform: translateY(2rem);
    }
    15% {
        transform: translateY(-2rem);
    }
    30% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

#about {
    padding-top: 30px;
    padding-bottom: 100px;
}

#about .info {
    gap: 4%;
    flex-direction: column;
}

#about .info .title-smaller {
    margin-bottom: 20px;
}

#about .text {
    line-height: 1.5;
}

#about .icons {
    gap: 10px;
    margin-top: 22px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#about .tooltip {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: calc(100% + 10px);
    transform: translateX(-50%);
    background-color: #ebecf0;
    color: var(--dark);
    font-size: 0.9rem;
    padding: 5px 7px;
    border-radius: 6px;
    transition: all 0.3s ease;
    text-align: center;
    z-index: 1;
    visibility: hidden;
}

#about .icon {
    padding: 0 1%;
}

#about .icon:nth-child(1) {
    padding-left: 0;
}
#about .icon img:hover + .tooltip {
    opacity: 1;
    top: calc(100% + 5px);
    visibility: visible;
}

#about .icon img {
    transition: all 0.3s ease;
}

#about .icon img:hover {
    transform: scale(1.15);
}

#about .tech-row {
    margin-top: 50px;
}

#about .title-smaller {
    white-space: nowrap;
}

@media (min-width: 768px) {
    #about {
        padding-top: 70px;
    }
}

@media (min-width: 991px) {
    #about .info {
        flex-direction: row;
    }

    #about .info .overflow {
        flex-shrink: 0;
    }
}
