#contact input,
#contact textarea 
{
    border-radius: 0;
    border: none;
    background-color: #ffffff0f;
    font-size: 1rem;
    width: 100%;
    padding: 15px 18px;
    color: #fff;
    font-family: inherit;
}

#contact input:focus,
#contact textarea:focus
{

}

.form 
{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form label
{
    font-weight: 500;    
    color: #fff;
    display: block;
    margin-bottom: 5px;
}

.form .messege,
.form .submit,
.form .col-100
{
    grid-column: 1 / span 2;
}

.form.sending > div
{
    transition: all .5s ease;
}

.form.sending .form-row
{
    opacity: .1;
}

.form.sending:after
{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
}

.form .form-success
{
    position: absolute;
    text-align: center;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
    background: #1a1d24;
    border-radius: 20px;
    animation-duration: 1s;
    animation-name: showContactSuccess;
}

@keyframes showContactSuccess {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.form .form-success p 
{
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.form .form-success a 
{
    cursor: pointer;
}