.form 
{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form label
{
    font-weight: 500;    
    color: #fff;
    display: block;
    margin-bottom: 5px;
}

.light-mode .form label
{
    color: inherit;
}

.form input,
.form textarea 
{
    border-radius: 0;
    border: none;
    background-color: #ffffff0f;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    padding: 15px 18px;
    color: #fff;
    font-family: inherit;
    transition: all .2s ease;
    border-radius: 10px;
}

.form input::placeholder
{
    font-style: italic;  
    font-weight: 400;  
    color: #61656e;
    transition: opacity .2 ease;
}

.form input:focus,
.form textarea:focus
{
    outline: 2px solid #fff;  
    border-radius: 3px;  
}

.form input:focus::placeholder
{
    opacity: .2;    
}

.light-mode .form input, 
.light-mode .form textarea
{
    background-color: #dee0e5;
    color: inherit;
}

.light-mode .form input:focus, 
.light-mode .form textarea:focus
{
    outline-color: #1a1d24;    
}

.form .messege,
.form .submit,
.form .col-100
{
    grid-column: 1 / span 2;
}

.form.sending .form-row
{
    transition: all .5s ease;
    opacity: .1;
}

.form.sending:after
{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
}

.form .form-success
{
    position: absolute;
    text-align: center;
    top: 0px;
    bottom: -10px;
    left: -4vw;
    right: -4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
    background: var(--dark);
    border-radius: 20px;
    animation-duration: 1s;
    animation-name: showContactSuccess;
}

.form .form-success h4 
{
    color: #fff;
    font-size: 25px;
    margin: 0 0 10px;   
}

.form .form-success p 
{
    margin-bottom: 25px;
}

.form .form-success a 
{
    cursor: pointer;
}

#contact .caption
{
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

#contact .caption:before
{
    content: '';
    display: block;
    width: 40vw;
    height: 40vw;
    position: absolute;
    background: #f19528;
    border-radius: 50%;
    top: -23vw;
    right: -27vw;
    z-index: -1;
}

#contact .caption:after
{
    content: '';
    display: block;
    width: 20vw;
    height: 20vw;
    position: absolute;
    background: #541fa6;
    border-radius: 50%;
    bottom: -8vw;
    left: -13vw;
    z-index: -1;
}

@media (max-width: 767px) {
    .form > div 
    {
        grid-column: 1 / span 2;
    }
}