.top {
    padding-top: 20px;
}

.top a {
    text-decoration: none;
}

.logo {
    cursor: pointer;
    position: relative;
    left: 0;
    transition: all 0.15s ease;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: inherit;
}

header nav {
    gap: 0 10px;
    visibility: hidden;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    transition: all 0.3s ease;
    justify-content: center;
    color: #fff;
}

.menu {
    flex-direction: column;
}

.menu li {
    position: relative;
}

header .menu li:not(.wallet) {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

header .menu li:not(.wallet) a {
    padding: 17px 20px;
    display: block;
    position: relative;
    z-index: 1;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease;
}

header .menu li:not(.wallet):hover a {
    color: var(--dark);
}

header .menu li:not(.wallet):after,
header .menu li:not(.wallet):before {
    content: "";
    display: block;
    /* width: 70%; */
    width: 0;
    top: 50%;
    left: 20%;
    aspect-ratio: 1 / 1;
    transform: translateY(-50%);
    background-color: #fff;
    position: absolute;
    transition: all 0.6s ease;
    border-radius: 50%;
}

header .menu li:not(.wallet):before {
    left: auto;
    right: 20%;
    transition-delay: 0.1s;
}

header .menu li:not(.wallet):hover:after {
    width: 100%;
    left: -10%;
}

header .menu li:not(.wallet):hover:before {
    width: 100%;
    right: -10%;
}

.menu-web3 .tooltip {
    position: absolute;
    inset: calc(100% + 10px) 0 auto 0;
    text-align: center;
    padding: 10px;
    background-color: rgb(255 255 255 / 8%);
    display: block;
    border-radius: 10px;
    line-height: 1.2;
    opacity: 0;
    visibility: none;
    transition: all 0.3s ease-out;
}

.menu-web3 .btn:hover + .tooltip {
    opacity: 1;
    visibility: visible;
    top: calc(100% + 15px);
}

@media (min-width: 768px) {
    .top {
        justify-content: space-between;
    }

    #main nav {
        visibility: visible;
        position: static;
        opacity: 1;
    }

    .menu,
    .menu ul {
        flex-direction: row;
        justify-content: flex-end;
    }

    header .menu li a:not(.btn) {
        font-size: 1rem;
    }

    .logo.animate svg g {
        animation: jump 1s ease-in-out;
    }

    .logo.animate svg g:nth-child(2) {
        animation-delay: 0.07s;
    }
    .logo.animate svg g:nth-child(3) {
        animation-delay: 0.14s;
    }
    .logo.animate svg g:nth-child(4) {
        animation-delay: 0.21s;
    }
    .logo.animate svg g:nth-child(5) {
        animation-delay: 0.28s;
    }
    .logo.animate svg g:nth-child(6) {
        animation-delay: 0.35s;
    }
    .logo.animate svg g:nth-child(7) {
        animation-delay: 0.42s;
    }
    .logo.animate svg g:nth-child(8) {
        animation-delay: 0.49s;
    }

    @keyframes jump {
        0% {
            transform: translateY(0);
        }
        19.999% {
            transform: translateY(-40px);
        }
        20% {
            transform: translateY(40px);
        }
        40% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(0);
        }
    }
}

@media (max-width: 767px) {
    body:has(#btn-menu-mobile.open) {
        overflow: hidden;
    }
}
