.top {
    margin-top: 20px;
}

.top a {
    text-decoration: none;
}

.logo {
    cursor: pointer;
    position: relative;
    left: 0;
    transition: all 0.15s ease;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: inherit;
}

#main .menu {
    gap: 0 10px;
    visibility: hidden;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    transition: all 0.3s ease;
    justify-content: center;
    color: #fff;
}

.menu,
.menu ul {
    flex-direction: column;
}

.menu li {
    position: relative;
}

#main .menu li a:not(.btn) {
    padding: 17px 20px;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease;
}

#btn-menu-mobile {
    position: fixed;
    right: 15px;
    top: 15px;
    padding: 6px 10px;
    margin: 0;
    border: 1px solid #fff;
    overflow: hidden;
    height: 41px;
    width: 42px;
    border-radius: 7px;
    z-index: 3;
}

#btn-menu-mobile span {
    height: 1px;
    margin: 5px 0;
    display: block;
    width: 20px;
    background-color: #fff;
    position: absolute;
    pointer-events: none;
    left: 10px;
    transition: all 0.3s ease;
}

#btn-menu-mobile > span:nth-child(1) {
    top: 7px;
}

#btn-menu-mobile > span:nth-child(2) {
    top: 13px;
}

#btn-menu-mobile > span:nth-child(3) {
    top: 19px;
}

#btn-menu-mobile.open {
    border-color: transparent;
}

#btn-menu-mobile.open > span:nth-child(1),
#btn-menu-mobile.open > span:nth-child(3) {
    left: 8px;
    width: 25px;
    top: 13px;
}

#btn-menu-mobile.open > span:nth-child(1) {
    transform: rotate(45deg);
}

#btn-menu-mobile.open > span:nth-child(2) {
    left: 100%;
}

#btn-menu-mobile.open > span:nth-child(3) {
    transform: rotate(-45deg);
}

@media (min-width: 768px) {
    .top {
        justify-content: space-between;
    }

    #main .menu {
        visibility: visible;
        position: static;
        opacity: 1;
    }

    .menu,
    .menu ul {
        flex-direction: row;
        justify-content: flex-end;
    }

    #main .menu li a:not(.btn) {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    .menu.show {
        color: #fff;
    }
}
