.top 
{
    justify-content: space-between;
    padding-top: 10px;
    position: fixed;
    top: 0;
    left: 3%;
    right: 3%;
}

.top a
{
    text-decoration: none;    
}

.logo 
{
    cursor: pointer;
}

.menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    font-weight: 500;
    gap: inherit;
}

.menu
{
    gap: 0 10px;
}

.menu li 
{
    position: relative;
}

.menu a,
.menu span,
header button
{
    padding: 10px 20px;
    display: block;
    position: relative;
    top: 0;
    cursor: pointer;
}

.menu li:before 
{
    content: '';
    display: block;
    height: 0px;
    position: absolute;
    background-color: #454b5a;
    top: -10px;
    left: 20px;
    right: 20px;
    border-radius: 0 0 5px 5px;
    transition: height .15s ease;
}

.menu li:is(:hover, :focus, :active):before 
{
    height: 3px;
}

.menu a:is(:hover, :focus, :active),
.menu span:is(:hover, :focus, :active)
{
    top: 2px;
}

.menu a:is(:hover, :focus, :active),
.menu span:is(:hover, :focus, :active)
{
    opacity: .5;
}

header button:before
{
    content: '';
    display: block;
    background: #fff;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 20px;
    right: 30px;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: all .2s ease;
}

header button:hover:before
{
    top: -24px;
    right: -10px;
    height: 65px;
    width: 65px;
}

body.light-mode header button:before
{
    background-color: #cdd2dc;
    mix-blend-mode: darken;
}