@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('./animations.css');

:root 
{
    --text: #c5c7cd;    
    --dark: #161924;
}

*, *::after, *::before
{
    box-sizing: border-box;
}

html 
{
    font-size: 93%;
}

body 
{
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text);
    font-weight: 400;
    background-color: var(--dark);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    letter-spacing: -0.01em;
    line-height: 1.6;
}

.bg-gradient
{
    padding: 0 7%;
}

code 
{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a
{
    color: inherit;  
}

a, button 
{
    transition: all .2s ease;
}

h1, h2, h3, h4, h5, h6, strong
{
    color: #fff;
    font-weight: 500;
}

p 
{
    margin: 0 0 20px;
}

.flex 
{
    display: flex;
    align-items: center;
}

button 
{
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0;   
    color: inherit;
    font-size: 1rem;
    line-height: 1.6;
}

.title
{
    color: #fff;
    font-size: 34px;
    margin: 0;
}

.title-small
{
    font-size: 30px;
    margin: 0 0 10px;
}

.btn
{
    display: inline-block;
    padding: 13px 22px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s ease;
}

.btn-default
{
    color: #fff;
    background: rgb(68,56,242);
    /* background: linear-gradient(150deg, rgba(68,56,242,1) 0%, rgba(131,66,253,1) 100%); */
    background: linear-gradient(137deg, rgba(68,56,242,1) 0%, rgba(131,66,253,1) 50%, rgba(58,17,135,1) 100%);
    background-position: 0;
    background-size: 200%;
}

.btn-default:is(:hover, :focus, :active)
{
    background-color: #454b5a;
    background-position: 100%;   
    color: #fff;
}

.btn-white 
{
    background-color: #fff;
    color: #161924;
    font-weight: 500;
    border-radius: 10px;
}

.btn-white:is(:hover, :focus, :active)
{
    background-color: #161924;
    color: #fff;
}

.btn-yellow 
{
    background-color: #F19529;
    color: #fff;
}

.btn-yellow:is(:hover)
{
    background-color: #fff;    
    color: var(--dark);
}

.link-border
{
    text-decoration: none;   
    color: #fff;
    position: relative;
    padding: 10px 20px;
}

.link-border:before 
{   
    content: '';
    display: block;
    position: absolute;
    background-color: #551fa5;
    bottom: 14px;
    height: 4px;
    left: 20px;
    width: calc(100% - 40px);
    transition: all .2s ease;
    margin: 0;
    z-index: -1;
}

.link-border:is(:hover):before 
{
    background-color: #F19529;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    left: 50%;
    margin-left: -20px;
    bottom: 2px;
}

.text-center
{
    text-align: center;
}

.text-right
{
    text-align: right;
}

.grid 
{
    display: grid;
}

.relative 
{
    position: relative;
}

.horizontal-center
{
    justify-content: center;
}

.vertical-center
{
    align-items: center;
}

.vertical-top
{
    align-items: flex-start;
}

.flex-column
{
    flex-direction: column;
}

.wide-width
{
    width: 100%;
}

.small-width
{
    width: 100%;
    max-width: 760px;
}

.margin-section
{
    margin-bottom: 80px;
}

.margin-section > .flex 
{
    width: 100%;
    justify-content: center;
}

/* light mode */

.light-mode
{
    background-color: #fff;   
    color: #252932; 
}

#root .light-mode 
{
    background: rgb(255,255,255);
    background: linear-gradient(132deg, rgba(255,255,255,1) 0%, rgba(232,235,241,1) 50%, rgba(255,255,255,1) 78%);
}

.light-mode .title, 
.light-mode h1, 
.light-mode h2, 
.light-mode h3, 
.light-mode h4, 
.light-mode h5, 
.light-mode h6, 
.light-mode strong
{
    color: inherit;
}

.light-mode .btn-default
{
    border-color: #252932;
}

.light-mode .btn-default:is(:hover, :focus, :active)
{
    border-color: #252932;
    background-color: #252932;
}

@media (min-width: 768px) {
    
    .bg-gradient
    {
        /* background: rgb(22,25,36);
        background: linear-gradient(132deg, rgba(22,25,36,1) 15%, rgba(35,39,55,1) 50%, rgba(22,25,36,1) 85%);
        background-size: 300% 300%;
        animation: gradient 20s ease infinite; */
        padding: 0 3%;
    }
    
    #main,
    #contact
    {
        margin-bottom: 0;
    }
    
    .title
    {
        font-size: 41px;
    }
    
    .window-height
    {
        min-height: 100dvh;   
    }
    
    .margin-section
    {
        margin-bottom: 40vh;
    }
    
    .visible-xs
    {
        display: none !important;
    }
    
    .col-sm-50 
    {
        width: 50%;
    }    
}