@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

:root 
{
    --text: #c5c7cd;    
}

*
{
    box-sizing: border-box;
}

html 
{
    font-size: 93%;
    /* scroll-behavior: smooth; */
}

body 
{
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text);
    font-weight: 300;
    background-color: #252932;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    letter-spacing: -0.01em;
    line-height: 1.6;
}

.bg-gradient
{
    background: linear-gradient(-65deg, #0a0c0e, #252932, #0a0c0e);
	background-size: 300% 300%;
	animation: gradient 20s ease infinite;
    padding: 0 3%;
}

code 
{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a
{
    color: inherit;  
}

a, button 
{
    transition: all .2s ease;
}

h1, h2, h3, h4, h5, h6, strong
{
    color: #fff;
    font-weight: 500;
}

p 
{
    margin: 0 0 20px;
}

.flex 
{
    display: flex;
    align-items: center;
}

button 
{
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0;   
    color: inherit;
    font-size: 1rem;
    line-height: 1.6;
}

.title
{
    color: #fff;
    font-size: 41px;
    margin: 0;
}

.title-small
{
    font-size: 30px;
    margin: 0 0 10px;
}

.window-height
{
    min-height: 100dvh;   
}

.btn 
{
    display: inline-block;
    padding: 9px 17px 10px;
    border: 1px solid transparent;
    text-decoration: none;
}

.btn-default 
{
    border-color: #fff;
}

.btn-default:is(:hover, :focus, :active)
{
    /* background-color: #fff; */
    background-color: #454b5a;
    border-color: #454b5a;
    /* color: #202123; */
    color: #fff;
    padding: 6px 25px 7px;
    margin-top : 3px;
    margin-bottom: 3px;
    margin-left: -8px;
    margin-right: -8px;
}

.text-center
{
    text-align: center;
}

.grid 
{
    display: grid;
}

.relative 
{
    position: relative;
}

.horizontal-center
{
    justify-content: center;
}

.vertical-center
{
    align-items: center;
}

.vertical-top
{
    align-items: flex-start;
}

.flex-column
{
    flex-direction: column;
}

.wide-width
{
    width: 100%;
}

.small-width
{
    width: 100%;
    max-width: 760px;
}

.margin-section
{
    margin-bottom: 40vh;
}

.margin-section > .flex 
{
    width: 100%;
    justify-content: center;
}